
.card {
    width: 880px;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    
}

.is-flipped {
    transform: rotateY(180deg);
}

.front {
    background: var(--main-bb-color);
    border-radius: 10px;
    justify-content: center;
}

.back {
    background: #0090b5;
    transform: rotateY(180deg);
    border-radius: 10px;
    justify-content: center;
}

