.dialogpositionlarge {
  position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #1E2024;
    justify-content: center;
  
  border: 1px solid var(--main-bb-color);
  border-radius: 10px;  
  padding-bottom: 10px;
  text-align: center;

}

.dialogpositionsmall {
  position: relative;
  width: 100%;
  align-items: center!important;
  
  background-color: #1E2024;
  justify-content: center ;
  
    border: 1px solid var(--main-bb-color);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
        
   
  }

  .container {
    width: 100%; /* Can be in percentage also. */
    height: auto;
    margin: 0 ;
    
    position: relative;
    justify-content: center ;
    text-align: center;
    
    
}

.aptlogo{
  width: 20px;
  height: 20px;
}
.minwi5
{
  min-width: 45px;
}


.textnormal{
  color: var(--main-text-color) ;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  align-items: center;
}


.textnormaldata{
  color: var(--main-text-highlight-color);
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  align-items: center;
}

.texthighlightedXX{

    
    font-size: xx-large;
    font-weight: bolder;
    
    color: var(--main-bb-color) !important;

    border-radius: 10px;

   
    border-color:  var(--main-bb-color);
    border: 1px solid var(--main-bb-color);
    padding: 0px !important;
    box-shadow: inset 0 0 0 1px var(--main-bb-color),
        0px 0px 12px 0px var(--main-bb-color) inset,
        0px 0px 20px 0px var(--main-bb-color);
   align-content: center; 
  }





  
.texthighlighted{
  font-size: x-large;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center !important;
  padding: 0px !important;
  margin: 0px !important;
}

.texthighlightedmobile{
  font-size: large;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  text-align: center;
  align-items: center !important;
  padding: 0px !important;
  margin: 0px !important;
}


.btnClose{
  color: var(--main-bb-color) ;
  background-color: var(--main-bg-color) ;
  border: 1px solid var(--main-bb-color) ;
  border-radius: 5px;
  
  
  cursor: pointer;
}

.fadeInSell {
  -webkit-animation: fadeInRed 2s forwards;
  animation: fadeInRed 2s forwards;
}

@keyframes fadeInRed {
  0% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}

@-webkit-keyframes fadeInRed {
  0% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}


.fadeInBuy {
  -webkit-animation: fadeInGreen 2s forwards;
  animation: fadeInGreen 2s forwards;
}

@keyframes fadeInGreen {
  0% {
    background-color: green;
  }

  100% {
    background-color: black;
  }
}

@-webkit-keyframes fadeInGreen {
  0% {
    background-color: green;
  }

  100% {
    background-color: black;
  }
}


.muigrid2-root{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.hgreen{
  color: rgb(118, 240, 118);
} 

.hg1{
  color: rgb(210, 238, 192);
} 

.hg2{
  color: rgb(201, 219, 168);
}

.hg3{
  color: rgb(233, 230, 77);
}

.hg4{
  color: rgb(235, 180, 62);
}

.hg5{
  color: rgb(240, 104, 41);
}

.hg6{
  color: rgb(170, 13, 8);
}

.hg7{
  color: rgb(122, 10, 20);
}
