.dialogpositionlarge {
  position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #1E2024;
    justify-content: center;
    text-align: center;
  border: 1px solid var(--main-bb-color);
  border-radius: 10px;  
  padding: 0px;

}

.dialogpositionsmall {
  position: relative;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #1E2024;
  justify-content: center ;
  text-align: center;
    border: 1px solid var(--main-bb-color);
    border-radius: 10px;
  }

  .container {
    width: 100%; /* Can be in percentage also. */
    height: auto;
    margin: 0 ;
    padding: 0px;
    position: relative;
    justify-content: center ;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.aptlogo{
  width: 20px;
  height: 20px;
}
.minwi5
{
  min-width: 45px;
}


.textnormal{
  color: var(--main-text-color) ;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  align-items: center;
}


.textnormaldata{
  color: var(--main-text-highlight-color);
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  align-items: center;
}

.texthighlightedXX{

    background-color: var(--main-bb-color);
    font-size: xx-large;
    font-weight: bolder;
    color: var(--main-bg-color) important !;
    border-radius: 5px;
    text-align: center;

    
    
  }

.texthighlighted{

  background-color: var(--main-bb-color);
  font-size: x-large;
  font-weight: bolder;
  color: var(--main-bg-color) important!;
  border-radius: 5px;
  text-align: center;
}

.btnClose{
  color: var(--main-bb-color) ;
  background-color: var(--main-bg-color) ;
  border: 1px solid var(--main-bb-color) ;
  border-radius: 5px;
  
  
  cursor: pointer;
}

.fadeInSell {
  -webkit-animation: fadeInRed 2s forwards;
  animation: fadeInRed 2s forwards;
}

@keyframes fadeInRed {
  0% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}

@-webkit-keyframes fadeInRed {
  0% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}


.fadeInBuy {
  -webkit-animation: fadeInGreen 2s forwards;
  animation: fadeInGreen 2s forwards;
}

@keyframes fadeInGreen {
  0% {
    background-color: green;
  }

  100% {
    background-color: black;
  }
}

@-webkit-keyframes fadeInGreen {
  0% {
    background-color: green;
  }

  100% {
    background-color: black;
  }
}